<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		">

	<bean id="formattingConversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean
					class="com.jumore.we.service.sample.provider.conversion.CommonDateConversion" />
			</set>
		</property>
	</bean>

	<context:annotation-config />
	<mvc:annotation-driven conversion-service="formattingConversionService" />
	<!-- 控制器扫描 -->
	<context:component-scan base-package="com.jumore.we.service.sample.provider" />

	<!-- 自定义异常处理 -->
	<!-- 优先要比DefaultHandlerExceptionResolver高，否则部分异常得不到处理机会 -->
	<!-- DefaultHandlerExceptionResolver order为2，所以此处order设置value为1 -->
	<bean class="com.jumore.dove.web.exception.AppHandlerExceptionResolver">
		<property name="order" value="1" />
	</bean>

	<!-- 配置SpringMVC的视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="5"></property>
	</bean>

	<bean
		class="com.jumore.we.service.server.resolver.RequestMappingMethodServiceResolver">
		<property name="application" value="jumore-service-provider"></property>
		<property name="appDomain" value="http://192.168.23.120"></property>
		<property name="appPort" value="8583"></property>
	</bean>

	<bean
		class="com.jumore.we.service.server.remote.ZookeeperRequestMappingMethodRegistrationCenter">
		<property name="serverstring"
			value="192.168.23.161:2181,192.168.23.117:2181,192.168.23.116:2181"></property>
	</bean>

	<mvc:default-servlet-handler />
</beans>
